[submodule "lib/SDL3"]
	path = lib/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/emsdk"]
	path = lib/emsdk
	url = git@github.com:emscripten-core/emsdk.git
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
